.YearButton {
    flex: 1;
    border: none;
    margin: 3px;
    cursor: pointer;
    background-color: white;
    color: gray;
    aspect-ratio: 1 / 1;
}

.YearButton:hover {
    background-color: rgb(232, 244, 255);
    color: rgb(83, 83, 83);
}

.YearButton:active {
    background-color: rgb(193, 225, 255);
}