.RangeButton {
    flex: 1;
    flex-basis: 50%;

    border: none;
    margin: 3px;
    cursor: pointer;
    background-color: white;
    aspect-ratio: 1 / 1;

    color: black;
    font-size: 95.5%;
    font-weight: bold;
    text-align: start;
    padding-left: 7%;
}

.RangeButton:hover {
    background-color: white;
    cursor: default;
}